@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
:root {
  --bg: 244, 236, 222;
  --fg: 255, 255, 255;
  --text: 0, 0, 0;
  --gap: clamp(1rem, 5vw, 8rem);
  --col: repeat(2, 1fr);
  --list-col: auto 1fr;
  --tAlign: left;
  --primary-100: 229, 213, 185;
  --primary-200: 217, 193, 152;
  --primary-300: 90, 68, 45;
  --shadow-cord: 0 4px 8px;
}

html,
body {
  background-color: rgb(var(--bg));
  font-family: "Inter", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

#root {
  display: grid;
  padding: 80px 0;
  min-height: 100vh;
  box-sizing: border-box;
}

#serif {
  font-family: "Crimson Text", serif;
}

.container {
  width: 100%;
  max-width: 1540px;
  padding: var(--gap);
  box-sizing: border-box;
  justify-self: center;
  display: grid;
  align-content: center;
  gap: var(--gap);
  row-gap: clamp(4rem, 10vw, 5rem);
  grid-template-columns: var(--col);
}

.body {
  align-content: start;
  justify-self: var(--tAlign);
  text-align: var(--tAlign);
  display: grid;
  max-width: 580px;
  row-gap: 24px;
}
.body .content {
  display: grid;
  row-gap: inherit;
}
.body .content h1 {
  margin: 0;
  font-weight: 600;
  font-size: clamp(2.45rem, 3.5vw, 3.4rem);
}
.body .content h1 span {
  display: inline-block;
}
.body .content > span {
  letter-spacing: -0.3px;
  font-size: clamp(1rem, 1vw, 1.1rem);
  line-height: 1.5;
  font-weight: 440;
}
.body .search {
  display: grid;
  width: 100%;
  max-width: 440px;
  justify-self: var(--tAlign);
}
.body .search .search-box {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  background-color: rgb(var(--fg));
  color: rgba(var(--text), 0.6);
  border-radius: 14px;
  padding: 10px;
  height: 34px;
  box-shadow: var(--shadow-cord) rgba(0, 0, 0, 0.07);
  transition: box-shadow 0.2s ease-in-out;
}
.body .search .search-box:focus-within {
  box-shadow: 0 4.5px 8px rgba(0, 0, 0, 0.11);
}
.body .search .search-box i {
  width: 20px;
  height: 20px;
  padding: clamp(0px, 0.3vw, 4px);
}
.body .search .search-box input,
.body .search .search-box button {
  border: none;
  height: 100%;
  font-family: inherit;
  letter-spacing: -0.2px;
  outline: none;
}
.body .search .search-box input {
  width: 100%;
  box-sizing: border-box;
  padding: 0 8px;
}
.body .search .search-box input:-moz-placeholder-shown {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.body .search .search-box input:placeholder-shown {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.body .search .search-box button {
  background-color: rgb(var(--text));
  color: rgb(var(--fg));
  border-radius: 8px;
  padding: 0 16px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 450;
  margin-left: clamp(0px, 0.3vw, 4px);
  outline-color: rgb(var(--bg));
  transition: transform 0.1s ease-in-out;
  will-change: transform;
}
.body .search .search-box button:active {
  transform: scale(0.95);
}
.body .author-list {
  justify-items: var(--tAlign);
  display: grid;
  grid-template-columns: var(--list-col);
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 12px;
}
.body .author-list span {
  width: -moz-max-content;
  width: max-content;
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
  color: rgba(var(--text), 0.7);
}
.body .author-dp-cluster {
  display: flex;
}
.body .author-dp {
  display: flex;
  border: 2px solid rgb(var(--fg));
  border-radius: 50%;
  overflow: hidden;
}
.body .author-dp:not(:first-child) {
  margin-left: -12px;
}
.body .author-dp img {
  width: clamp(34px, 4vw, 38px);
  aspect-ratio: 1;
}

.quotes {
  justify-content: center;
  display: grid;
  justify-items: center;
  align-content: start;
  grid-template-rows: auto 1fr auto;
}
.quotes button {
  margin-top: 60px;
  border: 2px solid rgb(var(--fg));
  padding: 8px;
  border-radius: 10rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-items: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  box-shadow: var(--shadow-cord) rgba(0, 0, 0, 0.07), inset 0 0 8px rgba(0, 0, 0, 0.05);
  background-color: rgba(var(--primary-100), 0.4);
  will-change: transform, box-shadow;
}
.quotes button:hover {
  background-color: rgb(var(--primary-100));
}
.quotes button:active {
  transform: scale(0.95);
}
.quotes button span {
  line-height: 2;
  font-weight: 500;
  font-family: inherit;
  padding: 0 10px;
}
.quotes button svg {
  width: 18px;
  height: 18px;
  padding: 4px;
  background-color: rgb(var(--fg));
  border-radius: 50%;
  box-shadow: var(--shadow-cord) rgba(0, 0, 0, 0.05);
}

.quote {
  position: relative;
  aspect-ratio: 4/5;
  height: clamp(320px, 45vw, 370px);
}
.quote:has(#ex) .quote-card {
  transition-delay: 0.57s;
}
.quote-card {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 16px;
  background-color: rgb(var(--primary-100));
  z-index: var(--z);
  transform: rotate(var(--rotate));
  border: 2px solid rgb(var(--fg));
  border-radius: 24px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  align-content: start;
  justify-items: start;
  row-gap: 20px;
  grid-template-rows: auto auto 1fr;
}
.quote-card.hide {
  opacity: 0;
}
.quote-card#ex {
  animation: swapToBehind 0.75s ease-in-out !important;
}
.quote-card-tag {
  font-size: clamp(10px, 1vw, 12px);
  font-weight: 500;
  color: rgba(var(--text), 0.7);
  padding: 5px 10px;
  border-radius: 10rem;
  background-color: rgb(var(--primary-200));
  color: rgb(var(--primary-300));
  text-transform: capitalize;
  will-change: none;
}
.quote-card-body {
  display: grid;
  font-weight: 600;
  line-height: 1.4;
  font-size: clamp(18px, 2vw, 20px);
}
.quote-card-footer {
  align-self: last baseline;
  display: grid;
  -moz-column-gap: 8px;
       column-gap: 8px;
  align-items: center;
  grid-auto-flow: column;
}
.quote-card-footer img {
  border: 2px solid rgb(var(--fg));
  width: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.quote-card-author {
  color: rgba(var(--text), 0.7);
  font-weight: 500;
  font-size: clamp(13px, 1.5vw, 15px);
}
.quote-indicator {
  position: relative;
  width: 100%;
}
.quote-indicator img {
  opacity: 0.5;
  left: -32%;
  top: -95px;
  position: absolute;
  z-index: 1000;
  scale: 0.65;
  width: 214px;
}

@keyframes swapToBehind {
  0% {
    transform: translateX(0);
    opacity: 1;
    z-index: 1000;
  }
  50% {
    transform: translateX(90%) scale(0.7) rotate(var(--rotate));
    rotate: 2deg;
    opacity: 0.5;
    z-index: 0;
  }
  100% {
    transform: translateX(0) rotate(var(--rotate));
    opacity: 1;
  }
}
@media screen and (max-width: 860px) {
  :root {
    --tAlign: center;
    --col: 1fr;
    --list-col: 1fr;
  }
  .quote-indicator {
    margin-top: 45px;
  }
}/*# sourceMappingURL=main.css.map */