$table-cols: 10;
$table-rows: 10;

@mixin light-theme {
  --bg-color: 250, 250, 250;
  --text-color: 0, 0, 0;
  --fg-color: 55, 55, 55;
}

@mixin dark-theme {
  --bg-color: 16, 16, 16;
  --text-color: 231, 231, 231;
  --fg-color: 231, 231, 231;
}

:root {
  @include dark-theme;
  --th-fade-factor: 0.75;
  --td-fade-factor: 0.4;
  color-scheme: light dark;

  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }

  &[data-theme="dark"] {
    @include dark-theme;
  }
  &[data-theme="light"] {
    @include light-theme;
  }
}

html,
body {
  margin: 0;
  background: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  font-family: sans-serif;
}

body {
  height: 100dvh;
  width: 100vw;
  background: linear-gradient(
      to right,
      rgba(var(--fg-color), 0.3) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgba(var(--fg-color), 0.3) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: center -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: linear-gradient(
      165deg,
      rgba(var(--bg-color), 0.1),
      rgba(var(--bg-color)) 50%
    );
  }
}

section {
  position: relative;
  display: flex;
  justify-self: center;
  padding: 4px;
  box-sizing: border-box;
  background-color: rgba(var(--bg-color));
  border: 1px solid rgba(var(--fg-color), 0.25);
  border-radius: 8px;
  max-height: 100%;
  max-width: 100%;

  .table-scroll {
    max-height: 100%;
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(var(--fg-color), 0.1) rgba(var(--bg-color));

    &:hover {
      scrollbar-color: rgba(var(--fg-color), 0.2) rgba(var(--bg-color));
    }
  }
}

table {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  border-spacing: 0;
  --sibling: oklch(0.5 0.1 calc(var(--hue) * 1deg) / 0.4);
  --hovered: oklch(0.5 0.2 calc(var(--hue) * 1deg) / 0.8);

  tr {
    height: 36px;

    th {
      top: 0;
      position: sticky;
      z-index: 0;
    }

    &:first-of-type {
      th:first-of-type {
        z-index: 1;
      }
    }

    > * {
      padding: 0 15px;
      box-sizing: border-box;
      white-space: nowrap;
    }

    td {
      width: 64px;
      color: rgba(var(--text-color), var(--td-fade-factor));

      &:hover {
        --td-fade-factor: 1 !important;
        font-weight: 600;
        background: var(--hovered);
      }
    }

    th {
      font-weight: 450;
      position: sticky;
      left: 0;
      color: rgba(var(--text-color), var(--th-fade-factor));
      background-color: rgb(var(--bg-color));
    }
  }

  @for $i from 1 through $table-cols {
    &:has(td:nth-of-type(#{$i}):hover) {
      td,
      th {
        --th-fade-factor: 0.2;
        --td-fade-factor: 0.2;
      }
      tr:not(:first-of-type):has(~ tr:hover) td:nth-of-type(#{$i}) {
        --td-fade-factor: 1;
        background: var(--sibling);
      }
      tr:has(~ tr:hover) th:nth-of-type(#{$i + 1}) {
        --th-fade-factor: 1;
      }
    }
  }

  td:has(~ td:hover) {
    --td-fade-factor: 1 !important;
    background: var(--sibling);
  }
  th:has(~ td:hover) {
    --th-fade-factor: 1 !important;
  }
}
