:root {
  --bg-color: 16, 16, 16;
  --text-color: 231, 231, 231;
  --fg-color: 231, 231, 231;
  --th-fade-factor: 0.75;
  --td-fade-factor: 0.4;
  color-scheme: light dark;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: 16, 16, 16;
    --text-color: 231, 231, 231;
    --fg-color: 231, 231, 231;
  }
}
:root[data-theme=dark] {
  --bg-color: 16, 16, 16;
  --text-color: 231, 231, 231;
  --fg-color: 231, 231, 231;
}
:root[data-theme=light] {
  --bg-color: 250, 250, 250;
  --text-color: 0, 0, 0;
  --fg-color: 55, 55, 55;
}

html,
body {
  margin: 0;
  background: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  font-family: sans-serif;
}

body {
  height: 100dvh;
  width: 100vw;
  background: linear-gradient(to right, rgba(var(--fg-color), 0.3) 1px, transparent 1px), linear-gradient(to bottom, rgba(var(--fg-color), 0.3) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: center -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  box-sizing: border-box;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(165deg, rgba(var(--bg-color), 0.1), rgba(var(--bg-color)) 50%);
}

section {
  position: relative;
  display: flex;
  justify-self: center;
  padding: 4px;
  box-sizing: border-box;
  background-color: rgba(var(--bg-color));
  border: 1px solid rgba(var(--fg-color), 0.25);
  border-radius: 8px;
  max-height: 100%;
  max-width: 100%;
}
section .table-scroll {
  max-height: 100%;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(var(--fg-color), 0.1) rgba(var(--bg-color));
}
section .table-scroll:hover {
  scrollbar-color: rgba(var(--fg-color), 0.2) rgba(var(--bg-color));
}

table {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  border-spacing: 0;
  --sibling: oklch(0.5 0.1 calc(var(--hue) * 1deg) / 0.4);
  --hovered: oklch(0.5 0.2 calc(var(--hue) * 1deg) / 0.8);
}
table:not(:hover) td,
table:not(:hover) th {
  transition: 200ms color;
}
table tr {
  height: 36px;
}
table tr th {
  top: 0;
  position: sticky;
  z-index: 0;
}
table tr:first-of-type th:first-of-type {
  z-index: 1;
}
table tr > * {
  padding: 0 15px;
  box-sizing: border-box;
  white-space: nowrap;
}
table tr td {
  width: 64px;
  color: rgba(var(--text-color), var(--td-fade-factor));
}
table tr td:hover {
  --td-fade-factor: 1 !important;
  font-weight: 600;
  background: var(--hovered);
}
table tr th {
  font-weight: 450;
  position: sticky;
  left: 0;
  color: rgba(var(--text-color), var(--th-fade-factor));
  background-color: rgb(var(--bg-color));
}
table:has(td:nth-of-type(1):hover) td,
table:has(td:nth-of-type(1):hover) th {
  --th-fade-factor: 0.2;
  --td-fade-factor: 0.2;
}
table:has(td:nth-of-type(1):hover) tr:not(:first-of-type):has(~ tr:hover) td:nth-of-type(1) {
  --td-fade-factor: 1;
  background: var(--sibling);
}
table:has(td:nth-of-type(1):hover) tr:has(~ tr:hover) th:nth-of-type(2) {
  --th-fade-factor: 1;
}
table:has(td:nth-of-type(2):hover) td,
table:has(td:nth-of-type(2):hover) th {
  --th-fade-factor: 0.2;
  --td-fade-factor: 0.2;
}
table:has(td:nth-of-type(2):hover) tr:not(:first-of-type):has(~ tr:hover) td:nth-of-type(2) {
  --td-fade-factor: 1;
  background: var(--sibling);
}
table:has(td:nth-of-type(2):hover) tr:has(~ tr:hover) th:nth-of-type(3) {
  --th-fade-factor: 1;
}
table:has(td:nth-of-type(3):hover) td,
table:has(td:nth-of-type(3):hover) th {
  --th-fade-factor: 0.2;
  --td-fade-factor: 0.2;
}
table:has(td:nth-of-type(3):hover) tr:not(:first-of-type):has(~ tr:hover) td:nth-of-type(3) {
  --td-fade-factor: 1;
  background: var(--sibling);
}
table:has(td:nth-of-type(3):hover) tr:has(~ tr:hover) th:nth-of-type(4) {
  --th-fade-factor: 1;
}
table:has(td:nth-of-type(4):hover) td,
table:has(td:nth-of-type(4):hover) th {
  --th-fade-factor: 0.2;
  --td-fade-factor: 0.2;
}
table:has(td:nth-of-type(4):hover) tr:not(:first-of-type):has(~ tr:hover) td:nth-of-type(4) {
  --td-fade-factor: 1;
  background: var(--sibling);
}
table:has(td:nth-of-type(4):hover) tr:has(~ tr:hover) th:nth-of-type(5) {
  --th-fade-factor: 1;
}
table:has(td:nth-of-type(5):hover) td,
table:has(td:nth-of-type(5):hover) th {
  --th-fade-factor: 0.2;
  --td-fade-factor: 0.2;
}
table:has(td:nth-of-type(5):hover) tr:not(:first-of-type):has(~ tr:hover) td:nth-of-type(5) {
  --td-fade-factor: 1;
  background: var(--sibling);
}
table:has(td:nth-of-type(5):hover) tr:has(~ tr:hover) th:nth-of-type(6) {
  --th-fade-factor: 1;
}
table:has(td:nth-of-type(6):hover) td,
table:has(td:nth-of-type(6):hover) th {
  --th-fade-factor: 0.2;
  --td-fade-factor: 0.2;
}
table:has(td:nth-of-type(6):hover) tr:not(:first-of-type):has(~ tr:hover) td:nth-of-type(6) {
  --td-fade-factor: 1;
  background: var(--sibling);
}
table:has(td:nth-of-type(6):hover) tr:has(~ tr:hover) th:nth-of-type(7) {
  --th-fade-factor: 1;
}
table:has(td:nth-of-type(7):hover) td,
table:has(td:nth-of-type(7):hover) th {
  --th-fade-factor: 0.2;
  --td-fade-factor: 0.2;
}
table:has(td:nth-of-type(7):hover) tr:not(:first-of-type):has(~ tr:hover) td:nth-of-type(7) {
  --td-fade-factor: 1;
  background: var(--sibling);
}
table:has(td:nth-of-type(7):hover) tr:has(~ tr:hover) th:nth-of-type(8) {
  --th-fade-factor: 1;
}
table td:has(~ td:hover) {
  --td-fade-factor: 1 !important;
  background: var(--sibling);
}
table th:has(~ td:hover) {
  --th-fade-factor: 1 !important;
}

.tp-dfwv {
  z-index: 10;
}/*# sourceMappingURL=main.css.map */