@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap");
:root {
  --bg-color: 160, 160, 160;
  --text-color: 255, 255, 255;
  --fg-color: 60, 60, 60;
  --timing-dur: 0.4s;
  interpolate-size: allow-keywords;
  color-scheme: light dark;
}

html,
body {
  margin: 0;
  background: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  font-family: "Inter", sans-serif;
  background: rgb(var(--bg-color));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  z-index: 1;
  display: flex;
  width: clamp(240px, 75vw, 380px);
  gap: 1rem;
  overflow: hidden;
  border-radius: 34px;
  padding: 12px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom-width: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1254901961);
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(24px);
          backdrop-filter: blur(24px);
  background-color: rgba(var(--fg-color), 0.2);
  background-color: rgba(var(--bg-color), 0.5);
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%, 50%);
  transition: var(--timing-dur);
}
.card-container > button {
  position: absolute;
  margin: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgb(var(--text-color));
  border: none;
  border-radius: 50%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  transition: 0.3s;
}
.card-container > button svg {
  padding: 4px;
  width: 18px;
}
.card-container > button svg:first-child {
  display: none;
}
.card-container.normal .card-body {
  animation: blur-in-camo var(--timing-dur);
}
.card-container.peekaboo {
  right: 24px;
  bottom: 24px;
  transform: none;
  justify-self: end;
  align-self: end;
  animation: blur-in var(--timing-dur);
}
.card-container.peekaboo .image {
  height: 2px;
  opacity: 0;
}
.card-container.peekaboo .card-body h2 {
  margin-left: 54px;
}
.card-container.peekaboo > button {
  transform: translateX(-12px);
}
.card-container.peekaboo > button svg:first-child {
  display: block;
}
.card-container.peekaboo > button svg:last-child {
  display: none;
}
.card {
  flex: 1 0 100%;
  max-height: 100%;
  display: grid;
  gap: 10px;
}
.card .image {
  height: -moz-fit-content;
  height: fit-content;
  transition: var(--timing-dur);
  overflow: hidden;
  border-radius: 22px;
  border: 1px solid rgba(var(--text-color), 0.05);
}
.card .image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
.card-body {
  display: grid;
  row-gap: 10px;
  transition: var(--timing-dur) filter;
}
.card-body h2 {
  transition: var(--timing-dur);
  display: flex;
  align-items: center;
  font-weight: 550;
  justify-content: space-between;
}
.card-body h2 span {
  color: rgba(var(--text-color), 0.35);
  margin-left: 10px;
  font-weight: 400;
  font-size: 20px;
}
.card-body h2 button {
  border-radius: 50%;
  background-color: rgba(var(--text-color), 0.18);
  aspect-ratio: 1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-body h2 button svg {
  padding: 3px;
  width: 19px;
  stroke-width: 2.8;
  stroke: rgb(var(--text-color));
}
.card-body p {
  opacity: 0.9;
  line-height: 1.4;
  font-size: 14px;
}
.card-body .tags {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  padding: 8px 0;
}
.card-body .tags div {
  font-size: 13.33px;
  padding: 6px 13px;
  text-transform: capitalize;
  border-radius: 10rem;
  background-color: rgba(var(--fg-color), 0.2);
  color: rgba(var(--text-color), 0.8);
}
.card-body > * {
  margin: 0;
}

.bg-image {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 0;
  width: 100vw;
  height: 100vh;
}
.bg-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@keyframes blur-in {
  from {
    filter: blur(12px);
  }
  to {
    filter: blur(0);
  }
}
@keyframes blur-in-camo {
  from {
    filter: blur(12px);
  }
  to {
    filter: blur(0);
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: 25, 25, 25;
    --text-color: 231, 231, 231;
    --fg-color: 120, 120, 120;
  }
}/*# sourceMappingURL=main.css.map */