@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
:root {
  --bg-color: 250, 250, 250;
  --text-color: 0, 0, 0;
  --fg-color: 0, 0, 0;
  --th-fade-factor: 0.75;
  --td-fade-factor: 0.4;
  --size: 50px;
  --success: #4caf50;
  --error: #ff5151;
  color-scheme: light dark;
  interpolate-size: allow-keywords;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: 16, 16, 16;
    --text-color: 231, 231, 231;
    --fg-color: 231, 231, 231;
  }
}

html,
body {
  margin: 0;
  background: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  font-family: "Geist", sans-serif;
}

body {
  width: 100vw;
  height: 100dvh;
  background: linear-gradient(to right, rgba(var(--fg-color), 0.3) 1px, transparent 1px), linear-gradient(to bottom, rgba(var(--fg-color), 0.3) 1px, transparent 1px);
  background-size: var(--size) var(--size);
  background-position: center;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(165deg, rgba(var(--bg-color), 0.1), rgba(var(--bg-color)) 50%);
}

main {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  box-sizing: border-box;
}

section {
  width: clamp(0px, 90vw, 450px);
  border: 1px solid rgba(var(--fg-color), 0.06);
  background: rgba(var(--bg-color), 0.9);
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  perspective: 800px;
  cursor: default;
}
section:hover form {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
  height: -moz-fit-content;
  height: fit-content;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
}
.head a {
  display: block;
  color: inherit;
  font-size: 14px;
  opacity: 0.8;
  transition: 0.2s opacity;
}
.head a:hover {
  opacity: 1;
}
.head h1 {
  font-size: clamp(1.5rem, 6vw, 2.15rem);
  margin: 0;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
}
.head span {
  font-size: 0.8rem;
  color: rgba(var(--fg-color), 0.6);
}

form {
  opacity: 0.5;
  transform-style: preserve-3d;
  transform: rotateX(0deg);
  transition: 0.3s ease, 0.15s opacity;
  will-change: height, opacity, margin;
}
form:where(:not(:has(input:checked))) {
  transform: rotateX(-90deg);
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0;
}
form > *:first-of-type {
  margin-top: 24px;
}
form > *:not(:first-of-type) {
  margin-top: 16px;
}
form:not(:has(#robot:checked)) #challenge {
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0;
}
form:has(.correct > input:checked) .results > .right {
  display: flex;
}
form:has(#challenge label:not(.correct) > input:checked) .results > .wrong {
  display: flex;
}
form:not(:has(#challenge label > input:checked)) .results {
  visibility: hidden;
  opacity: 0;
  height: 0;
  margin: 0;
}
form fieldset {
  all: unset;
  display: flex;
  transition: 0.3s ease, 0.15s opacity;
  will-change: height, opacity, margin;
}
form fieldset:has(input:checked) {
  pointer-events: none;
  position: relative;
}
form fieldset:has(input:checked)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
form fieldset legend {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 10px;
}
form fieldset label {
  display: flex;
  align-items: center;
  border: 1px solid rgba(var(--fg-color), 0.1);
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  gap: 10px;
}
form fieldset label input[type=checkbox] {
  width: 20px;
  height: 20px;
  accent-color: rgb(var(--fg-color));
}
form fieldset label span {
  flex: 1;
}
form fieldset label span,
form fieldset label svg {
  opacity: 0.8;
}
form fieldset label svg {
  width: 28px;
  height: 28px;
}
form #challenge {
  flex-direction: column;
  border: 1px solid rgb(var(--fg-color), 0.1);
  overflow: hidden;
}
form #challenge > * {
  padding: 12px;
  box-sizing: border-box;
}
form #challenge h2 {
  margin: 0;
  display: grid;
  gap: 2px;
  background-color: rgb(var(--fg-color), 0.02);
}
form #challenge h2 span {
  font-size: 15px;
  font-weight: 450;
}
form #challenge h2 strong {
  font-weight: 550;
  font-size: 30px;
}
form #challenge .choice {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}
form #challenge .choice label {
  background-color: rgb(var(--fg-color), 0.02);
  aspect-ratio: 9/3;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  border: 4px solid transparent;
  height: -moz-fit-content;
  height: fit-content;
  box-sizing: border-box;
}
form #challenge .choice label:has(input:checked) {
  border-color: var(--error);
}
form #challenge .choice label.correct:has(input:checked) {
  border-color: var(--success);
}
form #challenge .choice label input {
  display: none;
}
form .results {
  display: flex;
  transition: 0.2s ease, 0.15s opacity;
  will-change: height, opacity, margin;
}
form .results > div {
  flex: 1;
  border: 1px solid rgb(var(--fg-color), 0.1);
  padding: 12px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color);
  display: none;
  font-weight: 450;
}/*# sourceMappingURL=main.css.map */