@import url("https://fonts.googleapis.c?Wom/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap");
:root {
  --bg-color: 16, 16, 16;
  --text-color: 231, 231, 231;
  --fg-color: 231, 231, 231;
  --th-fade-factor: 0.75;
  --td-fade-factor: 0.4;
  color-scheme: light dark;
  interpolate-size: allow-keywords;
  --size: 50px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: 16, 16, 16;
    --text-color: 231, 231, 231;
    --fg-color: 231, 231, 231;
  }
}
:root[data-theme=dark] {
  --bg-color: 16, 16, 16;
  --text-color: 231, 231, 231;
  --fg-color: 231, 231, 231;
}
:root[data-theme=light] {
  --bg-color: 250, 250, 250;
  --text-color: 0, 0, 0;
  --fg-color: 55, 55, 55;
}

html,
body {
  margin: 0;
  background: rgb(var(--bg-color));
  color: rgb(var(--text-color));
  font-family: "Geist", sans-serif;
}

body {
  height: 100dvh;
  width: 100vw;
  background: linear-gradient(to right, rgba(var(--fg-color), 0.3) 1px, transparent 1px), linear-gradient(to bottom, rgba(var(--fg-color), 0.3) 1px, transparent 1px);
  background-size: var(--size) var(--size);
  background-position: center;
  overflow-x: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(165deg, rgba(var(--bg-color), 0.1), rgba(var(--bg-color)) 50%);
}

main {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: flex-end;
  padding: var(--size);
  box-sizing: border-box;
  align-items: center;
}

section {
  margin-inline: auto;
  position: relative;
  z-index: 10;
  width: calc-size(-moz-fit-content, round(up, size, var(--size)));
  width: calc-size(fit-content, round(up, size, var(--size)));
  height: calc-size(auto, round(up, size, var(--size)));
  border: 1px solid rgba(var(--fg-color), 0.06);
  background: rgba(var(--bg-color), 0.9);
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.head {
  display: flex;
  width: clamp(0px, 60vw, 360px);
  min-width: 100%;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
  margin-bottom: 16px;
}
.head a {
  display: block;
  color: inherit;
  font-size: 14px;
  opacity: 0.8;
  transition: 0.2s opacity;
}
.head a:hover {
  opacity: 1;
}
.head h1 {
  font-size: clamp(1.4rem, 5vw, 2.1rem);
  margin: 0;
  font-weight: 600;
  text-align: right;
  white-space: nowrap;
}
.head span {
  font-size: 0.8rem;
  color: rgba(var(--fg-color), 0.6);
}

form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
}
form:not(:has(#robot:checked)) #challenge {
  display: none;
}
form:has(#robot:checked) :is(#primary) {
  background-color: rgb(var(--fg-color), 0.08);
}
form fieldset {
  all: unset;
  display: flex;
}
form fieldset legend {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 10px;
}
form fieldset label {
  display: flex;
  align-items: center;
  border: 1px solid rgba(var(--fg-color), 0.1);
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  gap: 10px;
}
form fieldset label input[type=checkbox] {
  width: 20px;
  height: 20px;
  accent-color: rgb(var(--fg-color));
  transition: 0.5s;
}
form fieldset label span {
  flex: 1;
}
form fieldset label span,
form fieldset label span svg {
  opacity: 0.8;
}
form #challenge {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(var(--fg-color), 0.1);
  overflow: hidden;
  transition: 0.2s ease;
}
form #challenge > * {
  padding: 12px;
}
form #challenge h2 {
  margin: 0;
  display: grid;
  gap: 2px;
  background-color: rgb(var(--fg-color), 0.02);
}
form #challenge h2 span {
  font-size: 15px;
  font-weight: 450;
}
form #challenge h2 strong {
  font-weight: 550;
  font-size: 23px;
}
form #challenge .choice {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(2, 1fr);
}
form #challenge .choice label {
  border: none;
  background-color: rgb(var(--fg-color), 0.02);
  aspect-ratio: 7/3;
  display: flex;
  justify-content: center;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
form #challenge .choice label:has(input:checked) {
  border: 4px solid #ff5151;
}
form #challenge .choice label:nth-child(3):has(input:checked) {
  border: 4px solid #4caf50;
}
form #challenge .choice label input {
  display: none;
}
form .buttons {
  display: flex;
  justify-content: flex-end;
}
form .buttons :where(button) {
  width: 140px;
  padding: 10px 0;
  font-family: inherit;
  border: 1px solid rgba(var(--fg-color), 0.2);
  background-color: rgba(var(--fg-color), 0.01);
  color: rgba(var(--fg-color), 0.8);
  cursor: pointer;
  font-size: 14px;
  font-weight: 450;
  overflow: hidden;
  transition: 0.2s background-color;
}
form .buttons :where(button):hover {
  background: rgba(var(--fg-color), 0.03);
  color: rgba(var(--fg-color), 1);
}/*# sourceMappingURL=main.css.map */